<div class="modal-header">
    <h4 class="modal-title">Modifica {{ action === 'email' ? 'Email' : 'Password'  }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="action === 'password'">
          <div class="form-group mb-2">
            <label for="password">Password attuale</label>
            <input [(ngModel)]="form.password" name="password" type="password" required class="form-control px-2">
          </div>
          <div class="form-group mb-2">
            <label for="password1">Nuova password</label>
            <input [(ngModel)]="form.password1" name="password1" type="password" required class="form-control px-2">
          </div>
          <div class="form-group mb-2">
            <label for="password2">Conferma password</label>
            <input [(ngModel)]="form.password2" name="password2" type="password" required class="form-control px-2">
          </div>
        </div>
        <div *ngIf="action === 'email'">
          <div class="form-group mb-2">
            <label for="email">Nuova email</label>
            <input [(ngModel)]="form.email" name="email" type="email" required class="form-control px-2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateUser()">Salva</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>