<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OPS - Online Planner Service</title>
  </head>
  <body>

    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>OPS - Online Planner Service</h1>
        <p><span class="typed" data-typed-items="Pianifica, Gestisci, Organizza"></span></p>
        <div class="social-links">
          <a [routerLink]="'/login'"><i class="fa fa-sign-in-alt"></i> Accedi</a>
          <a [routerLink]="'/register'"><i class="fa fa-user-plus"></i> Registrati</a>
          <a [routerLink]="'/admin'"><i class="fa fa-lock"></i> Amministrazione</a>
          <a [routerLink]="'/dashboard'"><i class="fa fa-calendar"></i> Utente</a>
        </div>
      </div>
    </section>

  </body>
</html>