a.nav-link:link{
    color: #495057;
    text-decoration: none;
}
a.nav-link:visited{
    color: #495057;
    text-decoration: none;
}
a.nav-link:hover{
    color: #495057;
    text-decoration: none;
}
a.nav-link:active{
    color: #495057;
    text-decoration: none;
}

textarea {
    resize: none;
}

.card-body {
    min-height: 550px !important;
}